@page
@model Sales.Pages.CheckoutModel
<h2>Checkout</h2>
<div>
    <label>Shipping address</label>
    <div>
        <label>@Model.Customer.Name</label>
        <label>@Model.Customer.Address</label>
        <label>@Model.Customer.CityAndState</label>
        <label>@Model.Customer.ZipCode</label>
    </div>
</div>
<div>
    <label>Payment method</label>
</div>
<div>
    <label>Products</label>
</div>
<div>
    <form action="" method="post">
        <button type="Submit">Place order</button>
    </form>
</div>