@page
@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>

<ul>
    <li><a asp-page="Inventory/Index">Inventory</a></li>
    <li><a asp-page="Orders/Index">Orders</a></li>
    <li><a asp-page="Catalog/Index">Product Catalog</a></li>
</ul>

<form method="post">
    <input type="submit" value="Logout" />
</form>