@page
@model InventoryReportModel

<h2>Inventory Levels</h2>

<table class="report">
    <thead>
    <tr>
        <th></th>
        @foreach (var date in Model.InventoryLevelViewModel.Values.First().Keys)
        {
            <th>@($"{date.Month}/{date.Year}")</th>
        }
    </tr>
    </thead>
    <tbody>
        @foreach (var pair in Model.InventoryLevelViewModel)
        {
            <tr>
                <td class="report" id="SKU"><a asp-area="Product" asp-page="/Index" asp-route-sku="@pair.Key">@pair.Key</a></td>
                @foreach (var levelPair in pair.Value)
                {
                    <td>@levelPair.Value</td>
                }
            </tr>
        }
    </tbody>
</table>
