/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.header-bar {
    background-color: #080808;
    min-height: 50px;
    width: 100%;
    text-align: center;
}

.my-container {
    width: 1170px;
    display: inline-block;
}

.home {
    float: left;
    width: 210px;
    margin: 0;
    padding: 0;
}

.home a {
    padding: 14px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bolder;
}

.nav-bar {
    display: flex;
}

#left-subnav-bar {
    margin: 0;
    padding: 0;
}

#left-subnav-bar ul {
    list-style-type: none;
    padding: 0;
}

#left-subnav-bar li {
    float: left;
    display: block;
    padding: 14px;
}

#left-subnav-bar li a {
    color: white;
    font-size: 18px;
}

#right-subnav-bar {
    margin: 0;
    padding: 0;
    margin-left: auto;
}

#right-subnav-bar ul {
    list-style-type: none;
    padding: 0;
}

#right-subnav-bar li {
    float: left;
    display: block;
    padding: 14px;
}

#right-subnav-bar li a {
    color: white;
    font-size: 18px;
}

#content-left-sidebar {
    display: flex
}

#main-navbar {
    width: 210px;
}

#main-navbar ul{
    margin-top: 20px;
    padding: 0px;
}

.product-menu {
    list-style-type: none;
    padding-left: 0;
    border-right-color: lightgray;
    border-right-width: .08em;
    border-right-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: .08em;
    border-bottom-style: solid;
}

.product-menu li {
    padding: 1em;
}

.item-list {
    list-style-type: none;
    padding-left: 0
}

.item-list li {
    border-bottom-width: .08em;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.item-container {
    display: flex;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
