<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The 5 Jeweler's Jewelry</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="header-bar">
        <div class="my-container-outside">
            <div class="my-container-inside">
                <div class="home">
                    <a asp-page="/Index" asp-area="">The Five Jewelers</a>
                </div>
                <div class="nav-bar-search-container">
                    <div class="nav-bar">
                        <div id="left-subnav-bar">
                            <ul>
                                <li><a asp-page="/Contact">Contact</a></li>
                            </ul>
                        </div>
                        <div id="right-subnav-bar">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-page="/Cart" asp-area="Sales">Cart</a></li>
                                    <li><a asp-page="/Index" asp-area="Admin">Account</a></li>
                                }
                                else
                                {
                                    <li><a asp-page="/Login" asp-area="Authentication">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="search-bar-container">
                        <form method="get" asp-page="SearchResults" asp-route-Query="Query">
                            <input id="search" name="Query" type="text"/>
                            <input id="submit-search" type="submit" value="Search"/>
                        </form>
                    </div>e
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
       @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - The 5 Jeweler's Jewelry</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
