<ul class="product-menu">
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="Everyday">Everyday Jewelry</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Baby/Christening Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Mother's Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Grandmother's Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Wedding Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Earrings</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Necklaces</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-category="BabyBracelets">Sets</a></li>
</ul>