<ul class="product-menu">
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=1 asp-route-category="Everyday Jewelry">Everyday Jewelry</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=2 asp-route-category="Baby/Christening Bracelets">Baby/Christening Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=3 asp-route-category="Mother's Bracelets">Mother's Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=4 asp-route-category="Grandmother's Bracelets">Grandmother's Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=5 asp-route-category="Wedding Bracelets">Wedding Bracelets</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=6 asp-route-category="Earrings">Earrings</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=7 asp-route-category="Necklaces">Necklaces</a></li>
    <li><a asp-page="/Index" asp-area="Products" asp-route-categoryId=8 asp-route-category="Sets">Sets</a></li>
</ul>