@page
@model ECommerceWeb.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>

<ul>
    <li><a asp-page="/Index" asp-area="Inventory">Inventory</a></li>
    <li><a asp-page="/Orders" asp-area="">Orders</a></li>
</ul>

