@page
@model ECommerceWeb.Pages.LogoutModel
@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>

<form method="post">
    <button type="submit" name="action" value="logoutButton">Logout</button>
</form>

<a asp-page="/Products">Logout...but does not actually logout</a>
