@page
@model IndexModel
@{
    ViewData["Title"] = "Jewelry Biz";
}
<div id="content-left-sidebar">
    <div id="main-navbar">
        <partial name="ProductMenu"/>
    </div>
    <div id="main-with-navbar">
        <h2>Our Top-Sellers</h2>
        <partial name="ProductCatalog" model="@Model.ProductViews"/>
    </div>
</div>