@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Five Jewelry</h1>


<<<<<<< HEAD
=======
    if (User.Identity.IsAuthenticated)
    {
         <form method="post">
             <input value="@product.SKU" name="sku" type="hidden"/>
             <button type="submit">Add To Cart</button>
         </form>
    }
}
>>>>>>> e42259eb091415d3f82eb4634e279a94057d21f9
