@page
@model ECommerceWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <label>Username: </label>
    <input type="text" name="username"/>
    <label>Password: </label>
    <input type="password" name="password"/>
    <button type="submit">Submit</button>
    <button type="button">Forgot Password</button>
</form>