@page
@model ECommerceWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>


<form method="post">
    <label>Username: </label>
    <input type="text" name="username" />
    <label>Password: </label>
    <input type="text" name="password" />
    <label>First Name: </label>
    <input type="text" name="firstName" />
    <label>Last Name: </label>
    <input type="text" name="lastName" />
    <label>Email: </label>
    <input type="text" name="email" />
    <button type="submit">Register</button>


</form>

<form>
    @Html.DropDownListFor(model => model.userType,
                      new List<SelectListItem> {
                           new SelectListItem { Value = "0" , Text = "Option A" },
                           new SelectListItem { Value = "1" , Text = "Option B" },
                           new SelectListItem { Value = "2" , Text = "Option C" }
                        },
                      new { @class="myselect"})
</form>
