@page
@using Product.Pages
@model Product.Pages.AddProductModel
@{
}

<h2>Add Product</h2>
<form>
    <label>SKU:</label>
    <input type="text" name="SKU"/>
    <button type="submit">Save</button>
</form>