@page
@model ECommerceWeb.Areas.Authentication.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>


<form method="post">
    <div>
        <label>Username: </label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password: </label>
        <input type="text" name="password"/>
    </div>
    <div>
        <label>Email: </label>
        <input type="text" name="email"/>
    </div>
    <button type="submit">Register</button>
</form>